/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        screenCapture: screenCapture {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN &kp LEFT_SHIFT &kp S>,
                <&macro_release>;

            label = "SCREENCAPTURE";
        };

        windows_run: windows_run {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp LEFT_WIN &kp R>, <&macro_release>;

            label = "WINDOWS_RUN";
        };

        display_set: display_set {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp PIPE &kp SPACE &kp D &kp I &kp S &kp P &kp L &kp A &kp Y &kp SPACE &kp S &kp E &kp T &kp RET>;
            label = "DISPLAY_SET";
        };

        url1: key_binding_check {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&none &kp H &kp T &kp T &kp P &kp S &kp COLON &kp FSLH &kp FSLH &kp N &kp I &kp C &kp K &kp C &kp O &kp U &kp T &kp S &kp O &kp S &kp DOT &kp G &kp I &kp T &kp H &kp U &kp B>,
                <&macro_release>;

            label = "KEY_BINDING_CHECK";
        };

        keybindlookup: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&url1 &url2>;
            label = "NEW_MACRO";
        };

        url2: new_macron {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp DOT &kp I &kp O &kp FSLH &kp K &kp E &kp Y &kp M &kp A &kp P &kp MINUS &kp E &kp D &kp I &kp T &kp O &kp R &kp FSLH>;
            label = "NEW_MACRON";
        };

        control_x: controlx {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL &kp X>,
                <&macro_release>;

            label = "CONTROLX";
        };

        control_c: controlc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL &kp C>,
                <&macro_release>;

            label = "CONTROLC";
        };

        control_shift_v: control_shift_v {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL &kp V>,
                <&macro_release>;

            label = "CONTROL_SHIFT_V";
        };

        control_z: control_z {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL &kp Z>,
                <&macro_release>;

            label = "CONTROL_Z";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp F      &kp P     &kp B        &kp J      &kp L     &kp U      &kp Y    &trans    &kp BSPC
&kp TAB    &kp A  &kp R  &kp S      &kp T     &kp G        &kp M      &kp N     &kp E      &kp I    &kp O     &kp SEMI
&kp LSHFT  &kp X  &kp C  &kp D      &kp V     &kp Z        &kp K      &kp H     &kp COMMA  &kp DOT  &kp FSLH  &trans
                         &kp LCTRL  &kp LALT  &kp ENTER    &kp SPACE  &kp LGUI  &kp LALT
            >;
        };
    };
};
